<div class="jumbotron mt-2 bg-transparent p-1 p-sm-2 p-md-3 p-lg-4">
  <div class="row">
    <div class="anasayfa-showcase col-12 col-lg-7 text-center text-lg-left">
      <div class="anasayfa-slider">
        {{#each sliderlar.anasayfa_slider.metinler}}
        <div class="slider-item {{#notEq @index 0}}slider-hidden-item{{/notEq}}">
          <h1 class="display-4 text-white font-weight-bold">{{trs this @root.lang "baslik"}}</h1>
          <div class="lead text-white">
            {{{markdown (trs this @root.lang "icerik")}}}
          </div>
        </div>
        {{/each}}
      </div>
      <p class="lead">
        <a class="btn btn-success btn-lg px-4" href="#"
          role="button">{{trs yazilar.anasayfa_vitrin_teklif_alin lang}}</a>
      </p>
    </div>
  </div>
</div>
</div>
<div class="half-triangle-left">
</div>
<div class="half-triangle-right">
</div>
</div>
</div>
<div class="offer-form-card-container container d-flex justify-content-end">
  <div class="card offer-form-card mb-4 text-white border-0 border-radius-3 overflow-hidden">
    <div class="sent-successfully" style="display:none">
      <button type="button" class="btn btn-link close-btn">
        <i class="lni-close size-lg"></i>
      </button>
      <i class="lni-check-mark-circle"></i>
      <div>Mesajınız başarı ile ulaştı, en yakın zamanda geri dönüş yapacağız!</div>
    </div>
    <div class="card-body pb-3">
      <h4 class="card-title">{{trs formlar.anasayfa_teklif_form lang "baslik"}}</h4>
      <p class="card-text ">{{trs formlar.anasayfa_teklif_form lang "aciklama"}}</p>
      <form id="teklif-form" action="/{{lang}}/ajax/teklif-al" method="POST" class="offer-form">
        <div class="col-12 p-0">
          <div class="input-group mb-2">
            <input data-validation-msg="Lütfen adınızı ve soyadınızı giriniz" name="ad_soyad" type="text"
              class="form-control bg-transparent text-white " autocomplete="nofill"
              placeholder="{{trs alanlar.ad_soyad lang "placeholder"}} *" />
            <div class="input-group-append">
              <span class="input-group-text  bg-transparent border-0 text-white">
                <i class="lni-user"></i>
              </span>
            </div>
          </div>
          <div class="input-group mb-2">
            <input data-validation-msg="Lütfen geçerli bir E-posta adresi giriniz" name="e_posta" type="text"
              class="form-control bg-transparent text-white " autocomplete="nofill"
              placeholder="{{trs alanlar.e_posta lang "placeholder"}} *" />
            <div class="input-group-append">
              <span class="input-group-text  bg-transparent border-0 text-white">
                <i class="lni-envelope"></i>
              </span>
            </div>
          </div>
          <div class="input-group mb-2">
            <input data-mask="0000 000 00 00"
              data-validation-msg="Lütfen numaranızı 0&times;&times;&times; &times;&times;&times; &times;&times; &times;&times; şeklinde giriniz"
              name="telefon" type="text" class="form-control bg-transparent text-white " autocomplete="nofill"
              placeholder="{{trs alanlar.telefon lang "placeholder"}}" />
            <div class="input-group-append">
              <span class="input-group-text  bg-transparent border-0 text-white">
                <i class="lni-phone-handset"></i>
              </span>
            </div>
          </div>
          <div class="input-group mb-2">
            <div class="topic">
              <select name="hizmet" class="form-control bg-transparent">
                {{#each hizmetler}}
                <option value="{{trs this @root.lang "isim"}}">{{trs this @root.lang "isim"}}</option>
                {{/each}}
              </select>
              <div class="d-flex align-items-center justify-content-center p-2 bg-transparent border-0 text-white">
                <i class="lni-target"></i>
              </div>
            </div>
          </div>
          <div class="input-group mb-2">
            <textarea data-no-enter-submit="true" data-validation-msg="Lütfen mesajınızı giriniz" name="mesaj" rows="4"
              type=" text" class="form-control bg-transparent text-white " autocomplete="nofill"
              placeholder="{{trs alanlar.mesaj lang "placeholder"}} *"></textarea>
            <div class="input-group-append">
              <span class="input-group-text  bg-transparent border-0 text-white">
                <i class="lni-pencil-alt"></i>
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
    <button data-submit-form="#teklif-form" type="submit"
      class="btn btn-primary w-100 py-3 border-0 btn-lg border-radius-0 loading">
      {{trs alanlar.gonder lang "etiket"}}
    </button>
  </div>
</div>
</div>

<div class="body-container mb-3 mb-md-5">

  <div class="container">

    <div class="row my-3 my-lg-5">
      <div class="col-sm-12 col-lg-7 text-sm-center text-lg-left my-2">

        <h2>{{trs urunler.obys lang "baslik"}}</h2>
        <p class="lead">{{trs urunler.obys lang "alt_baslik"}}</p>

        <p>{{{trs urunler.obys lang "aciklama"}}}</p>
      </div>

      <div class="col-sm-12 col-lg-5">
        <img class="w-100" src="{{cmsRoot}}{{img urunler.obys lang}}">
      </div>
    </div>

    <div class="row my-3 my-lg-5">
      <div class="col-sm-12 col-lg-5">
        <img class="w-100" src="{{cmsRoot}}{{img urunler.aosis lang}}">
      </div>
      <div class="col-sm-12 col-lg-7 text-sm-center text-lg-left my-3">

        <h2>{{trs urunler.aosis lang "baslik"}}</h2>
        <p class="lead">{{trs urunler.aosis lang "alt_baslik"}}</p>

        <p>{{{trs urunler.aosis lang "aciklama"}}}</p>
      </div>
    </div>

    <div class="row my-3 my-lg-5 text-center  text-dark">
      <div class="col-12  mb-4">
        <h3 class="text-center">{{trs yazilar.anasayfa_urunler_baslik lang}}</h3>
        <div class="section-strip-30 mx-auto"></div>
        <p class="text-muted">
          {{trs yazilar.anasayfa_urunler_alt_baslik lang}}
        </p>
      </div>

      {{#each urunler}}
      <div class="col-md-4 col-lg-2">
        <a href="#" class="round-card mx-auto mb-3">
          {{{this.ikon}}}
        </a>
        <h5>{{trs this @root.lang "isim"}}</h5>
        <p>
          {{trs this @root.lang "alt_baslik"}}
        </p>
      </div>
      {{/each}}

    </div>

    <div class="row my-5 my-lg-4 text-center  text-dark">
      <div class="col-12 mb-4">
        <h3 class="text-center">{{trs yazilar.anasayfa_referanslar_baslik lang}}</h3>
        <div class="section-strip-30 mx-auto"></div>
        <p class="text-muted">{{trs yazilar.anasayfa_referanslar_alt_baslik lang}}</p>
      </div>

      {{#each referanslar}}
      <div class="col-6 col-md-4 col-lg-3 mb-3 mb-lg-4">
        <a href="#" class="reactive-card referans-card">
          <div class="reactive-card-background" style="background-image: url('{{cmsRoot}}{{this.gorseller.0.url}}')">
          </div>
          <p
            class="reactive-card-content text-white lead d-flex align-items-center justify-content-center font-weight-medium">
            {{trs this @root.lang "isim"}}
          </p>
        </a>
      </div>
      {{/each}}
    </div>
  </div>
</div>