<div class="styx-breadcrumb">
  <a href="/{{lang}}" class="white-link">{{trs yazilar.layout_nav_anasayfa lang}}</a>
  <div>{{trs yazilar.layout_nav_iletisim lang}}</div>
</div>

</div>
<div class="half-triangle-left">
</div>
<div class="half-triangle-right">
</div>
</div>
</div>
</div>

<div class="my-3 my-lg-4 py-lg-3">
  <div class="bg-lg-silver py-3 py-lg-4">
    <div class="container my-lg-4">
      <div class="row">
        <div class="col-12 col-lg-6 text-center text-lg-left">
          <h1 class="mb-0">{{trs yazilar.iletisim_baslik lang}}</h1>
          <div class="section-strip-50 mx-auto mx-lg-0 mb-2 mb-lg-5"></div>
          <h3 class="m-0">{{trs yazilar.iletisim_eposta_baslik lang}}</h3>
          <div class="section-strip-20 mx-auto mx-lg-0"></div>
          <p class="lead">{{trs yazilar.styx_eposta lang}}</p>
          <h3 class="m-0">{{trs yazilar.iletisim_adres_baslik lang}}</h3>
          <div class="section-strip-20 mx-auto mx-lg-0"></div>
          <p class="lead">{{trs yazilar.styx_adres lang}}</p>
          <h3 class="m-0">{{trs yazilar.iletisim_tel_baslik lang}}</h3>
          <div class="section-strip-20 mx-auto mx-lg-0"></div>
          <p class="lead">{{trs yazilar.styx_tel lang}}</p>
        </div>
        <div class="col-12 col-lg-6 mb-5 mb-lg-0">
          <h3 class="m-0 text-center text-lg-right">{{trs yazilar.iletisim_konum_baslik lang}}</h3>
          <div class="section-strip-30  mx-auto mx-lg-0 ml-lg-auto"></div>
          <div class="mb-5">
            <div id="gm-location" data-styx-icon="{{cmsRoot}}{{img gorseller.iletisim_harita_ikonu lang "kaynak"}}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>