<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <title>{{title}}</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel='shortcut icon' type='image/x-icon' href='{{cmsRoot}}{{gorseller.favicon.kaynak.url}}' />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
  <link rel="stylesheet" href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css">

  {{#each stylesheets}}
  <link rel="stylesheet" href="{{this}}">
  {{/each}}

  {{#each importantScript}}
  <script src="{{this}}"></script>
  {{/each}}

</head>

<body>
  <div id="mobile-navbar" class="mobile-popup mobile-navbar" style="bottom: 700px; opacity: 0; display: none;">
    <div class="position-relative d-flex w-100 justify-content-center">
      <button id="close-mobile-navbar" type="button" class="btn btn-link close-menu">
        <i class="lni-close size-lg"></i>
      </button>
      <div class="d-flex flex-column align-items-center justify-content-center">
        <a class="white-link" href="#"><i class="lni-home mr-3"></i>{{trs yazilar.layout_nav_anasayfa lang}}</a>
        <div class="list-strip-20 mx-auto mb-2"></div>
        <a class="white-link" href="#"><i class="lni-apartment mr-3"></i>{{trs yazilar.layout_nav_kurumsal lang}}</a>
        <div class="list-strip-20 mx-auto mb-2"></div>
        <button id="open-mobile-urunler" type="button" class="btn btn-link py-1">
          <i class="lni-laptop-phone mr-3"></i>{{trs yazilar.layout_nav_urunler lang}}</button>
        <div class="list-strip-20 mx-auto mb-2"></div>
        <a class="white-link" href="#"><i class="lni-users mr-3"></i>{{trs yazilar.layout_nav_referanslar lang}}</a>
        <div class="list-strip-20 mx-auto mb-2"></div>
        <a class="white-link" href="/{{lang}}/iletisim"><i
            class="lni-phone mr-3"></i>{{trs yazilar.layout_nav_iletisim lang}}</a>
        <div class="list-strip-20 mx-auto mb-2"></div>
        <a class="btn btn-primary px-3 mt-3 ml-0 ml-lg-3" href="#"
          role="button">{{trs yazilar.layout_nav_teklif lang}}</a>
      </div>
    </div>
  </div>
  <div id="mobile-urunler" class="mobile-popup mobile-urunler" style="top: 700px; opacity: 0; display: none;">
    <div class="position-relative d-flex w-100 justify-content-center">
      <button id="close-mobile-urunler" type="button" class="btn btn-link close-menu">
        <i class="lni-close size-lg"></i>
      </button>
      <div class="d-flex flex-column align-items-center justify-content-center">
        {{#each urunler}}
        <a class="white-link" href="#">{{trs this @root.lang "isim"}}</a>
        <div class="list-strip-20 mx-auto mb-2"></div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="header-container position-relative">
    <div id="header-stellar" class="header"
      style="background-image: url('{{cmsRoot}}{{img gorseller.anasayfa_baslik_gorseli lang "kaynak"}}')">
      <div class="black-cover position-relative">
        <div class="container pt-3  position-relative">
          <nav class="navbar navbar-expand-lg navbar-dark navbar-custom p-0 p-md-2">

            <a class="navbar-brand white-link" href="#">{{trs yazilar.styx_logo lang}}</a>

            <!--Add here -->
            <button id="open-mobile-navbar" class="navbar-toggler" type="button">
              <i class="lni-chevron-down size-lg"></i>
            </button>
            <!--Add here -->
            <div class="navbar-links-container">
              <ul class="navbar-links">
                <li class="nav-item px-2 text-center">
                  <a class="white-link" href="#">{{trs yazilar.layout_nav_anasayfa lang}}</a>
                </li>
                <li class="nav-item px-2 text-center">
                  <a class="white-link" href="#">{{trs yazilar.layout_nav_kurumsal lang}}</a>
                </li>
                <li class="nav-item menu-container pr-1">
                  <button role="link" type="button" class="btn btn-link dropdown-toggle menu-toggle py-0" href="#">
                    {{trs yazilar.layout_nav_urunler lang}}
                  </button>
                  <div class="menu" style="display: none">
                    {{#each urunler}}
                    <a class="menu-item" href="#">{{trs this @root.lang "isim"}}</a>
                    {{/each}}
                  </div>
                </li>
                <li class="nav-item px-2">
                  <a class="white-link" href="#">{{trs yazilar.layout_nav_referanslar lang}}</a>
                </li>
                <li class="nav-item px-2">
                  <a class="white-link" href="/{{lang}}/iletisim">{{trs yazilar.layout_nav_iletisim lang}}</a>
                </li>
                <li class="nav-item">
                  <a class="btn btn-primary px-3 ml-0 ml-lg-3" href="#"
                    role="button">{{trs yazilar.layout_nav_teklif lang}}</a>
                </li>
              </ul>
            </div>
          </nav>
          {{{bodyContent}}}
          <div class="footer-container bg-darker text-white">
            <div class="footer container py-3">
              <div class="row text-center text-md-left">
                <div class="col-md-4 py-2 py-md-4 px-1 px-md-3">
                  <h3>{{trs yazilar.styx_logo lang}}</h3>
                  <p>{{trs yazilar.styx_adres lang}}</p>
                  <p>
                    <i class="lni-phone-handset mr-2"></i>
                    {{trs yazilar.styx_tel lang}}
                  </p>
                  <p>
                    <i class="lni-envelope mr-2"></i>
                    <a class="white-link" href="mailto:bilgi@styxyazilim.com">{{trs yazilar.styx_eposta lang}}</a>
                  </p>
                </div>
                <div class="col-md-4 py-2 py-md-4 px-1 px-md-3">
                  <h5 class="footer-section-title"><a class="white-link"
                      href="#">{{trs yazilar.layout_nav_urunler lang}}</a></h5>
                  <div class="section-strip-50 mx-auto mx-md-0"></div>
                  {{#each urunler}}
                  <div class="mb-1"><a class="white-link" href="#">{{trs this @root.lang "isim"}}</a></div>
                  {{/each}}
                </div>
                <div class="col-md-4 py-2 py-md-4 px-1 px-md-3">
                  <h5 class="footer-section-title">{{trs yazilar.layout_nav_kisayollar lang}}</h5>
                  <div class="section-strip-50 mx-auto mx-md-0"></div>
                  <div class="mb-1"><a class="white-link" href="#">{{trs yazilar.layout_nav_anasayfa lang}}</a></div>
                  <div class="mb-1"><a class="white-link" href="#">{{trs yazilar.layout_nav_kurumsal lang}}</a></div>
                  <div class="mb-1"><a class="white-link" href="#">{{trs yazilar.layout_nav_referanslar lang}}</a></div>
                  <div class="mb-1"><a class="white-link"
                      href="/{{lang}}/iletisim">{{trs yazilar.layout_nav_iletisim lang}}</a></div>
                </div>
              </div>
            </div>
            <div class="copyright bg-black">
              <div class="container py-2">
                <div class="row">
                  <div class="col-12 text-center font-weight-bold">{{trs yazilar.styx_telif_hakki lang}}</div>
                </div>
              </div>
            </div>
          </div>
          {{#each scripts}}
          <script src="{{this}}"></script>
          {{/each}}

</body>

</html>