<div class="styx-breadcrumb">
  <a href="/{{lang}}" class="white-link">{{trs yazilar.layout_nav_anasayfa lang}}</a>
  <div>{{trs yazilar.layout_nav_urunler lang}}</div>
  <div>{{trs urun lang "isim"}}</div>
</div>
</div>
<div class="half-triangle-left">
</div>
<div class="half-triangle-right">
</div>
</div>
</div>
</div>

<div class="my-3 my-lg-5 py-lg-3">
  <div class="bg-lg-silver py-3 py-lg-4">
    <div class="container my-lg-4">
      <div class="row">
        <div class="col-12 col-lg-5 mb-5 mb-lg-0  d-flex align-items-center">
          <img class="w-100" src="{{cmsRoot}}{{img urun lang}}">
        </div>
        <div class="col-12 col-lg-7">
          <h1>{{trs urun lang "baslik"}}</h1>
          <div class="section-strip-30 "></div>
          <h3>{{trs urun lang "alt_baslik"}}</h3>
          <div>
            {{{markdown (trs urun lang "aciklama")}}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>